* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 68.75%;
}

body {
  background-color: #F7F8FA;
}
body header {
  width: 100%;
  height: 18vh;
  position: absolute;
}
body header nav {
  height: 100%;
}
body header nav div.desktop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
}
body header nav div.desktop ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 35px;
}
body header nav div.desktop ul li {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 25px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav div.desktop ul li:hover {
  color: #FF6633;
  cursor: pointer;
}
body header nav div.desktop ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
body header nav div.desktop ul li a.brandName {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 30px;
}
body header nav div.desktop ul li input {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  margin-left: 20px;
}
body header nav div.desktop ul li input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.6;
}
body header nav div.desktop ul li input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.6;
}
body header nav div.desktop ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav div.mobile {
  display: none;
}
@media (max-width: 768px) {
  body header nav div.desktop {
    display: none;
  }
  body header nav div.mobile {
    display: flex;
    flex-direction: column;
  }
  body header nav div.mobile .mobileMenu {
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
  }
  body header nav div.mobile .mobileMenu ul {
    list-style: none;
  }
  body header nav div.mobile .mobileMenu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body header nav div.mobile .mobileMenu ul li a {
    color: #FFFFFF;
    text-decoration: none;
  }
  body header nav div.mobile .mobileMenu ul li.hamburguer {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
  }
  body header nav div.mobile .mobileMenu ul li.hamburguer div {
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition-duration: 0.3s;
  }
  body header nav div.mobile .mobileMenu ul li.hamburguer.on div {
    display: flex;
  }
  body header nav div.mobile .mobileMenu ul li.hamburguer.on .one {
    transform: rotate(45deg);
    position: relative;
    top: 11px;
  }
  body header nav div.mobile .mobileMenu ul li.hamburguer.on .two {
    opacity: 0;
  }
  body header nav div.mobile .mobileMenu ul li.hamburguer.on .three {
    position: relative;
    bottom: 13px;
    transform: rotate(-45deg);
  }
  body header nav div.mobile .mobileMenu ul.inputSearch {
    position: relative;
  }
  body header nav div.mobile .mobileMenu ul.inputSearch input {
    background-color: transparent;
    border: 2px solid white;
    padding: 5%;
    border-radius: 20px;
    color: #FFFFFF;
  }
  body header nav div.mobile .mobileMenu ul.inputSearch input::-moz-placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.6;
  }
  body header nav div.mobile .mobileMenu ul.inputSearch input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.6;
  }
  body header nav div.mobile .mobileMenu ul.inputSearch i {
    position: relative;
    right: 30px;
  }
  body header nav div.mobile .mobileOptions {
    display: none;
  }
  body header nav div.mobile .mobileOptions.open {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 82vh;
    background-color: #FFFFFF;
  }
  body header nav div.mobile .mobileOptions.open ul {
    list-style: none;
    text-align: center;
  }
}
body .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}
body .content h2.contentHeader {
  font-size: 2rem;
  margin: 5% 0%;
  color: #4D5E80;
  text-align: center;
}
body .content p.contentText {
  text-align: center;
}
body .content p.contentText {
  text-align: center;
  font-weight: 500;
  max-width: 100%;
  width: 700px;
  font-size: 0.9rem;
  line-height: 30px;
  color: #7D8FB3;
  margin-bottom: 5%;
}
body .topic {
  text-align: center;
  font-size: 1rem;
  line-height: 20px;
  border-radius: 15px;
  padding: 5px 15px;
  font-weight: 900;
  width: 100px;
}
body .topic.topic2 {
  color: #29CC39;
  background-color: rgba(41, 204, 57, 0.1);
}
body .topic.topic1 {
  background-color: #FF6633;
  color: #FFFFFF;
}
body .topic.topic3 {
  background-color: rgba(41, 204, 57, 0.1);
  color: #3361FF;
}
body .topic.topic4 {
  background-color: rgba(255, 102, 51, 0.1);
  color: #FF6633;
}
body .mainContent {
  padding-top: 18vh;
  background-image: url("./images/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}
body .mainContent h1 {
  margin: 5%;
  width: 60%;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 90px;
  text-align: center;
  color: #FFFFFF;
}
body .mainContent .contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 81px;
}
body .mainContent .contact div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  color: #FFFFFF;
}
body .mainContent button.showMore {
  margin-top: 15%;
  width: 140px;
  height: 60px;
  border-radius: 30px;
  border: none;
  color: #6B7A99;
  transition: 0.3s;
  cursor: pointer;
}
body .mainContent button.showMore:hover {
  transform: scale(1.3);
}
body .outStory div.ourInfos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body .outStory div.ourInfos div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  max-width: 100%;
  width: 350px;
  height: 160px;
  text-align: center;
  background-color: white;
  gap: 10px;
}
body .outStory div.ourInfos div h3 {
  font-size: 2rem;
}
body .servicesContent .ourServices {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
body .servicesContent .ourServices h3 {
  color: #4D5E80;
  margin-top: 30px;
  font-size: 0.8rem;
}
body .servicesContent .ourServices .serviceIcon {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .dealsContent .dealsOption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 63px;
  margin-bottom: 60px;
}
body .dealsContent .dealsOption div button {
  font-size: 1rem;
  color: #7D8FB3;
  border: none;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}
body .dealsContent .dealsOption div button:hover {
  color: #FF6633;
  border-bottom: 2px solid #FF6633;
}
body .dealsContent .grid {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
body .dealsContent .grid .gridColumn1,
body .dealsContent .grid .gridColumn3 {
  top: 15%;
  position: relative;
}
body .dealsContent .grid .gridItem img {
  -o-object-fit: fill;
     object-fit: fill;
}
body .dealsContent .grid .gridItem .gridItemText {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 5%;
}
body .dealsContent .grid .gridItem .gridItemText h3,
body .dealsContent .grid .gridItem .gridItemText .value {
  color: #6B7A99;
}
body .dealsContent .grid .gridItem .gridItemText h3 {
  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
body .dealsContent .grid .gridItem .gridItemText .value {
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
}
body .dealsContent .grid .gridItem .gridItemText .location {
  margin-bottom: 15px;
}
body .dealsContent .grid .gridItem .gridItemText .location,
body .dealsContent .grid .gridItem .gridItemText .info {
  color: #ADB8CC;
}
body .feedbackService .clients {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 40px;
}
body .feedbackService .clients .client .clientCommment {
  width: 300px;
  padding: 30px;
  background-color: white;
}
body .feedbackService .clients .client .clientData {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}
body .instagramContent .instagramPosts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 30px;
}
body .contactContent {
  background-color: #F2F3F5;
  margin: 5% 8%;
  padding: 100px 12%;
}
body .contactContent form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 30px 30px;
  flex-wrap: wrap;
}
body .contactContent form .inlineInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px 30px;
  flex-wrap: wrap;
}
body .contactContent form .inlineInput input {
  width: 50%;
}
body .contactContent form .form-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contactContent form .form-input input {
  max-width: 100%;
  min-width: 320px;
  height: 40px;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 1rem;
}
body .contactContent form .form-input img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 25px;
  bottom: 20px;
}
body .contactContent form .max {
  width: 100%;
}
body .contactContent form .max input {
  width: 100%;
}
body .contactContent form button {
  padding: 15px 35px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #3361FF;
  cursor: pointer;
  transition: 0.3s;
}
body .contactContent form button:hover {
  background-color: #FF6633;
}

footer .footerContent {
  padding: 90px 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .footerContent ul {
  list-style: none;
}
footer .footerContent .directionPage ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 52px;
  width: 300px;
}
footer .footerTerms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px;
}
footer .footerTerms ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
}/*# sourceMappingURL=style.css.map */